<div class="nav-wrapper" >
    <div class="logCon">
        <a href="/clinica"><img src="../../../assets/sheets/Logotipo Clinica.svg" alt="" class="letrasCem"></a>
    </div>
    <nav id="menu">
        <a href="/home" class="hover-this"><span>Inicio </span></a>
        <a href="#nosotros" class="hover-this"><span>Nosotros</span></a>
        <a href="#map" class="hover-this"><span>Ubicacion</span></a>
        <a href="/login" class="hover-this"><span>Iniciar Sesion</span></a>
    </nav>
    <div class="logCon">
        <a href="/cem"><img src="../../../assets/sheets/Logo cem.svg" alt="" class="letrasCem"></a>
    </div>
    <div class="cubeB"></div>
    <div class="cubeM"></div>
    <div class="cubeS"></div>
    <div class="cubeS"></div>
    <div class="cubeB"></div>
    <div class="cubeM"></div>
    <div class="cubeS"></div>
    <div class="cubeS"></div>

    <div class="cubeB"></div>
    <div class="cubeM"></div>
    <div class="cubeB"></div>
    <div class="cubeM"></div>
</div>
