<main>
    <h2>Sacar Turno</h2>
    <form action="">
        <input type="date" placeholder="Fecha">
        <select name="hour" id="hour">
            <option value="" disabled selected>Hora</option>
            <option value="9:00">9:00</option>
            <option value="9:30">9:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
        </select>
        <select name="setor" id="sector">
            <option value="" disabled selected>Sector</option>
            <option value="oftalmologia">Oftalmologia</option>
            <option value="dentista">Dentista</option>
            <option value="radiologia">Radiologia</option>
        </select>
        <select name="doctor" id="doctor">
            <option value="" disabled selected>Doctor</option>
            <option value="c_rodriguez">C. Rodriguez</option>
            <option value="a_perez">A. Peréz</option>
            <option value="l_alvarez">L. Alvaréz</option>
        </select>
        <input type="submit" value="Sacar Turno">
    </form>
</main>