<main>
    <section class="personalData">
        <h2>Jano Chiambretto</h2>
        <p>chiambrettojano&#64;gmail.com</p>
        <p>+54 9 3548 56 5308</p>
        <p>Las Rosas s/n, Los Cocos</p>
    </section>
    <section class="reservedShifts">
        <h4>Turnos Reservados</h4>
        <div class="reservedShift">
            <p class="date">19/10/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">C. Rodriguez</p>
            <p class="hour">17:30</p>
        </div>
        <div class="reservedShift">
            <p class="date">19/10/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">C. Rodriguez</p>
            <p class="hour">17:30</p>
        </div>
        <div class="reservedShift">
            <p class="date">19/10/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">C. Rodriguez</p>
            <p class="hour">17:30</p>
        </div>
    </section>
    <section class="takenShifts">
        <h4>Turnos Tomados</h4>
        <div class="takenShift">
            <p class="date">19/4/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">A. Perez</p>
            <p class="hour">9:30</p>
            <p class="estatus">Tomado</p>
        </div>
        <div class="takenShift">
            <p class="date">19/4/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">A. Perez</p>
            <p class="hour">9:30</p>
            <p class="estatus">Tomado</p>
        </div>
        <div class="takenShift">
            <p class="date">19/4/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">A. Perez</p>
            <p class="hour">9:30</p>
            <p class="estatus">Tomado</p>
        </div>
        <div class="takenShift">
            <p class="date">19/4/2024</p>
            <p class="division">Oftalmologia</p>
            <p class="doctor">A. Perez</p>
            <p class="hour">9:30</p>
            <p class="estatus">Tomado</p>
        </div>
    </section>
</main>