<div id="cursor"></div>
<div class="inner"></div>
<app-menu id="menu"></app-menu>
<main>
  <div class="container" id="nosotros">
    <section class="wrapper">
      <div class="cubeB" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="3600"></div>
      <div class="cubeM"></div>
      <div class="cubeS"></div>
      <h1>Desde 1987</h1>
      <div class="card" id="card1">
        <img src="../../../assets/sheets/fotos antiguas/primerLugar.jpg" alt="">
      </div>
      <div class="card" id="card2">
        <img src="../../../assets/sheets/fotos antiguas/simulacro.jpeg" alt="">
      </div>
      <div class="card" id="card3">
        <img src="../../../assets/sheets/fotos antiguas/dragger.jpeg" alt="">
      </div>
      <div class="card" id="card4">
        <img src="../../../assets/sheets/fotos antiguas/ambulancia.jpg" alt="">
      </div>
    </section>
    <section class="outro">
      <div class="cubeB"></div>
      <div class="cubeM"></div>
      <div class="cubeS"></div>
      <div class="cubeM"></div>
      <div class="cubeB"></div>
      <h1>
        Ofrecemos servicios actualizados a las necesidades de la sociedad, para preservar la salud de nuestros afiliados <br>
        <a href=""><p>Quiero ser parte!</p></a>
      </h1>
    </section>
  </div>

  <div class="ContainerApp">
    <section class="info">
      <div class="appRows">
        <div class="appRow"><h2>SUMA</h2></div>
        <div class="appRow"><h2><b>B</b>ENEFICIOS</h2></div>
      </div>
    </section>
    <section class="appInfo">
      <p>Ingresá a la aplicacion y conta con beneficios exclusivos</p>
      <div class="animatedBox"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.bepros.sumabeneficios&hl=es_AR"><img src="../../../assets/sheets/icons/downlodIcon.svg" alt=""></a></div>
      <div class="cubeB"></div>
      <div class="cubeM"></div>
      <div class="cubeS"></div>
      <div class="cubeB"></div>
    </section>
    <section class="whitespace"></section>
    <section class="pinned">
      <div class="revealer">
        <div class="revealer1"></div>
        <div class="revealer2"></div>
      </div>
    </section>
    <section class="things">
      <div class="rectangle"></div>
      <h2>Nuestro</h2>
      <h2>Equipo</h2>
      <div class="rectangle2"></div>
      <div class="wrapperzoom">
        <div class="contentzoom">
          <section class="section hero">
            <div class="gallery">
              <div class="gallery_line">
                <img src="../../../assets/sheets/medicos/docAzulRubia.JPG"/>
                <img src="../../../assets/sheets/medicos/docBlancoRubiaLacio.JPG"/>
                <img src="../../../assets/sheets/medicos/docChiquito.JPG"/>
                <img src="../../../assets/sheets/medicos/sassi.JPG"/>
                <img src="../../../assets/sheets/medicos/docOjos.JPG"/>
                <img src="../../../assets/sheets/medicos/docOp.JPG"/>
                <img src="../../../assets/sheets/medicos/docPeloCorto.JPG"/>
              </div>
              <div class="gallery_line">
                <img src="../../../assets/sheets/medicos/docChiquito.JPG"/>
                <img src="../../../assets/sheets/medicos/sassi.JPG"/>
                <img src="../../../assets/sheets/medicos/docOjos.JPG"/>
                <img src="../../../assets/sheets/medicos/docOp.JPG"/>
                <img src="../../../assets/sheets/medicos/docPeloCorto.JPG"/>
                <img src="../../../assets/sheets/medicos/docAzulRubia.JPG"/>
                <img src="../../../assets/sheets/medicos/docBlancoRubiaLacio.JPG"/>
              </div>
              <div class="gallery_line">
                <img src="../../../assets/sheets/medicos/docOp.JPG"/>
                <img src="../../../assets/sheets/medicos/docPeloCorto.JPG"/>
                <img src="../../../assets/sheets/medicos/docAzulRubia.JPG"/>
                <img src="../../../assets/sheets/medicos/docBlancoRubiaLacio.JPG"/>
                <img src="../../../assets/sheets/medicos/docChiquito.JPG"/>
                <img src="../../../assets/sheets/medicos/sassi.JPG"/>
                <img src="../../../assets/sheets/medicos/docOjos.JPG"/>
              </div>
            </div>
          </section>
          <section class="infoProf">
            <p>Desde Cem sabemos que nuestros profesionales nos representan, por eso tenemos los más capacitados para cuidarte las 24hs del día durante todo el año </p>
            <div class="cubeB"></div>
            <div class="cubeM"></div>
            <div class="cubeS"></div>
            <div class="cubeM"></div>
            <div class="cubeS"></div>
          </section>
          <section class="map">
            <h2>Encontranos <br> en el valle de Punilla</h2>
            <div id="scrollDist"></div>
            <div id="container">
              <svg id="map" width="1600" height="2000">
                <path id="line" fill="none" stroke="#585858" stroke-width="10" d="M 800 110 s288.523 489.332-421.266 549.777c-159.465 13.58-259.244-150.702-12.996-312.581C608.837 185.319 1369.43 246.785 1401.36 400.336c23.58 113.423-425.531 264.483-236.338 331.51 209.038 74.059 285.398 52.835 25.989 162.851-215.318 91.318 189.649 315.633-232.993 218.873-465.853-106.65-966.347-173.973-389.023 82.94 152.938 68.06 143.091 231.48-126.902 171-200.503-44.91-266.694 223.06 157.51 230.63 424.204 7.57 892.777-71.96 600.947 86.02-291.833 157.99-753.396-16.49-765.979 57.1-12.584 73.59 58.611 112.07 350 250"/>
                <path id="theRoute" fill="none" stroke="#6f6f6f" stroke-width="5" d="M 800 110 s288.523 489.332-421.266 549.777c-159.465 13.58-259.244-150.702-12.996-312.581C608.837 185.319 1369.43 246.785 1401.36 400.336c23.58 113.423-425.531 264.483-236.338 331.51 209.038 74.059 285.398 52.835 25.989 162.851-215.318 91.318 189.649 315.633-232.993 218.873-465.853-106.65-966.347-173.973-389.023 82.94 152.938 68.06 143.091 231.48-126.902 171-200.503-44.91-266.694 223.06 157.51 230.63 424.204 7.57 892.777-71.96 600.947 86.02-291.833 157.99-753.396-16.49-765.979 57.1-12.584 73.59 58.611 112.07 350 250"/>
                <circle id="" cx="800" cy="110" fill="none" stroke="none" r="15" />
                <path id="thePoint" fill="green" stroke="none" d="M821.767 105.048c0-5.546-4.503-10.05-10.05-10.05h-24.531c-5.547 0-10.05 4.504-10.05 10.05l20.367 30.516c5.547 0 24.264-30.516 24.264-30.516z"/>
                <text class="start" x="615" y="105">Capilla del Monte</text>
                <text class="stop" x="310" y="710">San Esteban</text>
                <text class="stop" x="1420" y="420">Los Cocos</text>
                <text class="stop" x="1380" y="820">La Cumbre</text>
                <text class="stop" x="-20" y="1050">Villa Giardino</text>
                <text class="stop" x="690" y="1380">Huerta Grande</text>
                <text class="stop last" x="820" y="2020">La Falda</text>
              </svg> 
              <div class="laCumbre">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1438.146762186469!2d-64.49296644584938!3d-30.984200990603792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d856dad993b5f%3A0xf24f403554613c9b!2sCEM%20La%20Cumbre!5e0!3m2!1ses!2sar!4v1728745622404!5m2!1ses!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="stack">
                  <div class="card3">
                    <img
                      src="../../../assets/sheets/fotos banner/hombreOperativo.jpeg"
                      alt="" />
                  </div>
                  <div class="card3">
                    <img
                      src="../../../assets/sheets/fotos banner/ambulanciaLC.jpeg"
                      alt="" />
                  </div>
                  <div class="card3">
                    <img
                      src="../../../assets/sheets/fotos banner/pintosAmbulancia3.jpeg"
                      alt="" />
                  </div>
                  <div class="card3">
                    <img
                      src="../../../assets/sheets/fotos banner/pintosAmbulancia5.jpeg"
                      alt="" />
                  </div>
                  <div class="card3">
                    <img
                      src="../../../assets/sheets/fotos banner/motoHuerta.jpeg"
                      alt="" />
                  </div>
                  <div class="card3">
                    <img
                      src="../../../assets/sheets/fotos banner/elementos2.JPG"
                      alt="" />
                  </div>
                </div>
                <div class="laCumbreText">
                  <p>Contactanos <br>456665</p>
                </div>
              </div>

              <div class="laFalda">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d854.1397012160769!2d-64.48282200042428!3d-31.094197200000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d82ffaacb7fab%3A0x972f2ce397f89b08!2sCem%20Centro%20Emergencia%20Medica!5e0!3m2!1ses-419!2sar!4v1728835948421!5m2!1ses-419!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="stack2">
                  <div class="card2">
                    <img
                      src="../../../assets/sheets/fotos banner/hombreOperativo.jpeg"
                      alt="" />
                  </div>
                  <div class="card2">
                    <img
                      src="../../../assets/sheets/fotos banner/ambulanciaLC.jpeg"
                      alt="" />
                  </div>
                  <div class="card2">
                    <img
                      src="../../../assets/sheets/fotos banner/pintosAmbulancia3.jpeg"
                      alt="" />
                  </div>
                  <div class="card2">
                    <img
                      src="../../../assets/sheets/fotos banner/pintosAmbulancia5.jpeg"
                      alt="" />
                  </div>
                  <div class="card2">
                    <img
                      src="../../../assets/sheets/fotos banner/motoHuerta.jpeg"
                      alt="" />
                  </div>
                  <div class="card2">
                    <img
                      src="../../../assets/sheets/fotos banner/elementos2.JPG"
                      alt="" />
                  </div>
                </div>
                <div class="laFaldaText">
                  <p>Contactanos <br> 422222</p>
                </div>
              </div>
            </div>
          </section>
          <section class="cemClinica">
            <div class="logosTop">
              <a href="/clinica" class="logosRed"><img class="logosRed" src="../../../assets/sheets/Logotipo Clinica.svg" alt=""></a>
              <h2 id="andOf">&</h2>
              <a href="/cem" class="logosRed"><img class="logosRed" src="../../../assets/sheets/Logo cem.svg" alt=""></a>
              <div class="cubeB"></div>
              <div class="cubeM"></div>
              <div class="cubeS"></div>
              <div class="cubeM"></div>
              <div class="cubeB"></div>
              <div class="cubeM"></div>
              <div class="cubeS"></div>
              <div class="cubeM"></div>
            </div>
            <div>
              <h2 id="partOf">Somos</h2>
            </div>
            <div class="logoBottom">
              <div class="cubeS"></div>
              <div class="cubeB"></div>
              <div class="cubeM"></div>
              <div class="cubeS"></div>
              <div class="cubeM"></div>
              <div class="cubeS"></div>
              <img src="../../../assets/sheets/redSiem.svg" alt="" class="logosRed" id="siem">
            </div>
          </section>
          <footer>
            <div class="cubeB"></div>
            <div class="cubeB"></div>
            <div class="cubeM"></div>
            <!-- <div class="cubeM"></div> -->
            <div class="cubeS"></div>
            <img src="../../../assets/sheets/ambulanciaCem.svg" alt="" id="ambulancia">
            <a href="https://www.instagram.com/cempunilla/" target="_blank">
              <div class="socialIcon">
              </div>
            </a>
            <a href="https://www.facebook.com/cempunilla/?locale=es_LA" target="_blank">
              <div class="socialIcon2"></div>
            </a>
            <a href="mail:to" target="_blank">
              <div class="socialIcon3"></div>
            </a>
            <div class="copyright">
              <p class="rights">© 2024 CEM | Todos los derechos reservados</p>
            </div>
          </footer>
        </div>
        <div class="image-container">
          <img src="../../../assets/sheets/espZoom.svg" alt="image" class="zoomin">
        </div>
      </div>
    </section>
  </div>
</main>

